# Terraform generated folders
terraform-cicd-practice/.terraform/
terraform-backend-bootstrap/.terraform/

# Terraform state files
terraform-cicd-practice/*.tfstate
terraform-cicd-practice/*.tfstate.*
terraform-backend-bootstrap/*.tfstate
terraform-backend-bootstrap/*.tfstate.*

# Terraform variable files
terraform-cicd-practice/*.tfvars
terraform-cicd-practice/*.tfvars.json
terraform-backend-bootstrap/*.tfvars
terraform-backend-bootstrap/*.tfvars.json

# Crash logs
terraform-cicd-practice/crash.log
terraform-cicd-practice/crash.*.log
terraform-backend-bootstrap/crash.log
terraform-backend-bootstrap/crash.*.log

# OS/editor log files
.DS_Store
Thumbs.db
.vscode/